# STEP 5: ETL the data from 3NF tables to Facts & Dimension Tables
**IMPORTANT:** The following exercise depends on first having successing completed Exercise 1: Step 4. 

Start by running the code in the cell below to connect to the database. If you are coming back to this exercise, then uncomment and run the first cell to recreate the database. If you recently completed steps 1 through 4, then skip to the second cell.

In [1]:
# !PGPASSWORD=student createdb -h 127.0.0.1 -U student pagila
# !PGPASSWORD=student psql -q -h 127.0.0.1 -U student -d pagila -f Data/pagila-schema.sql
# !PGPASSWORD=student psql -q -h 127.0.0.1 -U student -d pagila -f Data/pagila-data.sql

In [25]:
%load_ext sql

DB_ENDPOINT = "127.0.0.1"
DB = 'pagila'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://student:student@127.0.0.1:5432/pagila

'Connected: student@pagila'

### Introducing SQL to SQL ETL
When writing SQL to SQL ETL, you first create a table then use the INSERT and SELECT statements together to populate the table. Here's a simple example.

First, you create a table called test_table.

In [26]:
%%sql
CREATE TABLE test_table
(
  date timestamp,
  revenue  decimal(5,2)
);

 * postgresql://student:***@127.0.0.1:5432/pagila
(psycopg2.ProgrammingError) relation "test_table" already exists
 [SQL: 'CREATE TABLE test_table\n(\n  date timestamp,\n  revenue  decimal(5,2)\n);']

Then you use the INSERT and SELECT statements to populate the table. In this case, the SELECT statement extracts data from the `payment` table and INSERTs it INTO the `test_table`.

In [27]:
%%sql
INSERT INTO test_table (date, revenue)
SELECT payment_date AS date,
       amount AS revenue
FROM payment;

 * postgresql://student:***@127.0.0.1:5432/pagila
16049 rows affected.

[]

Then you can use a SELECT statement to take a look at your new table.

In [28]:
%sql SELECT * FROM test_table LIMIT 5;

 * postgresql://student:***@127.0.0.1:5432/pagila
5 rows affected.

[(datetime.datetime(2017, 1, 24, 21, 40, 19, 996577), Decimal('1.99')),
 (datetime.datetime(2017, 1, 25, 15, 16, 50, 996577), Decimal('0.99')),
 (datetime.datetime(2017, 1, 28, 21, 44, 14, 996577), Decimal('6.99')),
 (datetime.datetime(2017, 1, 29, 0, 58, 2, 996577), Decimal('0.99')),
 (datetime.datetime(2017, 1, 29, 8, 10, 6, 996577), Decimal('4.99'))]

If you need to delete the table and start over, use the DROP TABLE command, like below.

In [29]:
%sql DROP TABLE test_table

 * postgresql://student:***@127.0.0.1:5432/pagila
Done.

[]

Great! Now you'll do the same thing below to create the dimension and fact tables for the Star Schema using the data in the 3NF database.

## ETL from 3NF to Star Schema

### 3NF - Entity Relationship Diagram

<img src="./pagila-3nf.png" width="50%"/>

### Star Schema - Entity Relationship Diagram

<img src="pagila-star.png" width="50%"/>

In this section, you'll populate the tables in the Star schema. You'll `extract` data from the normalized database, `transform` it, and `load` it into the new tables. 

To serve as an example, below is the query that populates the `dimDate` table with data from the `payment` table.
* NOTE 1: The EXTRACT function extracts date parts from the payment_date variable.
* NOTE 2: If you get an error that says that the `dimDate` table doesn't exist, then go back to Exercise 1: Step 4 and recreate the tables.

In [30]:
%%sql
INSERT INTO dimDate (date_key, date, year, quarter, month, day, week, is_weekend)
SELECT DISTINCT(TO_CHAR(payment_date :: DATE, 'yyyyMMDD')::integer) AS date_key,
       date(payment_date)                                           AS date,
       EXTRACT(year FROM payment_date)                              AS year,
       EXTRACT(quarter FROM payment_date)                           AS quarter,
       EXTRACT(month FROM payment_date)                             AS month,
       EXTRACT(day FROM payment_date)                               AS day,
       EXTRACT(week FROM payment_date)                              AS week,
       CASE WHEN EXTRACT(ISODOW FROM payment_date) IN (6, 7) THEN true ELSE false END AS is_weekend
FROM payment;

 * postgresql://student:***@127.0.0.1:5432/pagila

IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "dimdate_pkey"
DETAIL:  Key (date_key)=(20170407) already exists.
 [SQL: "INSERT INTO dimDate (date_key, date, year, quarter, month, day, week, is_weekend)\nSELECT DISTINCT(TO_CHAR(payment_date :: DATE, 'yyyyMMDD')::integer) AS date_key,\n       date(payment_date)                                           AS date,\n       EXTRACT(year FROM payment_date)                              AS year,\n       EXTRACT(quarter FROM payment_date)                           AS quarter,\n       EXTRACT(month FROM payment_date)                             AS month,\n       EXTRACT(day FROM payment_date)                               AS day,\n       EXTRACT(week FROM payment_date)                              AS week,\n       CASE WHEN EXTRACT(ISODOW FROM payment_date) IN (6, 7) THEN true ELSE false END AS is_weekend\nFROM payment;"]

In [31]:
%sql SELECT * FROM dimDate LIMIT 5;

 * postgresql://student:***@127.0.0.1:5432/pagila
5 rows affected.

[(20170407, datetime.date(2017, 4, 7), 2017, 2, 4, 7, 14, False),
 (20170130, datetime.date(2017, 1, 30), 2017, 1, 1, 30, 5, False),
 (20170318, datetime.date(2017, 3, 18), 2017, 1, 3, 18, 11, True),
 (20170426, datetime.date(2017, 4, 26), 2017, 2, 4, 26, 17, False),
 (20170215, datetime.date(2017, 2, 15), 2017, 1, 2, 15, 7, False)]

TODO: Now it's your turn. Populate the `dimCustomer` table with data from the `customer`, `address`, `city`, and `country` tables. Use the starter code as a guide.

In [32]:
%%sql
INSERT INTO dimCustomer (customer_key, customer_id, first_name, last_name, email, address, 
                         address2, district, city, country, postal_code, phone, active, 
                         create_date, start_date, end_date)
SELECT DISTINCT c.customer_id AS customer_key,
        c.customer_id AS customer_id,
        c.first_name AS first_name,
        c.last_name AS last_name,
        c.email AS email,
        a.address AS address,
        a.address2 AS address2,
        a.district AS district,
        ci.city AS city,
        co.country AS country,
        a.postal_code AS postal_code,
        a.phone AS phone,
        c.active AS active,
        c.create_date AS create_date,
        now()         AS start_date,
        now()         AS end_date
FROM customer c
JOIN address a  ON (c.address_id = a.address_id)
JOIN city ci    ON (a.city_id = ci.city_id)
JOIN country co ON (ci.country_id = co.country_id);

 * postgresql://student:***@127.0.0.1:5432/pagila

IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "dimcustomer_pkey"
DETAIL:  Key (customer_key)=(130) already exists.
 [SQL: 'INSERT INTO dimCustomer (customer_key, customer_id, first_name, last_name, email, address, \n                         address2, district, city, country, postal_code, phone, active, \n                         create_date, start_date, end_date)\nSELECT DISTINCT c.customer_id AS customer_key,\n        c.customer_id AS customer_id,\n        c.first_name AS first_name,\n        c.last_name AS last_name,\n        c.email AS email,\n        a.address AS address,\n        a.address2 AS address2,\n        a.district AS district,\n        ci.city AS city,\n        co.country AS country,\n        a.postal_code AS postal_code,\n        a.phone AS phone,\n        c.active AS active,\n        c.create_date AS create_date,\n        now()         AS start_date,\n        now()         AS end_date\nFROM customer c\nJOIN address a  ON (c.address_id = a.address_id)\nJOIN city ci    ON (a.city_id = ci.city_id)\nJOIN country co ON (ci.country_id = co.country_id);']

TODO: Populate the `dimMovie` table with data from the `film` and `language` tables. Use the starter code as a guide.

In [33]:
%%sql
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name   = 'dimCustomer'

 * postgresql://student:***@127.0.0.1:5432/pagila
0 rows affected.

[]

In [34]:
%sql SELECT * FROM dimCustomer LIMIT 10;

 * postgresql://student:***@127.0.0.1:5432/pagila
10 rows affected.

[(96, 96, 'DIANA', 'ALEXANDER', 'DIANA.ALEXANDER@sakilacustomer.org', '1308 Arecibo Way', '', 'Georgia', 'Augusta-Richmond County', 'United States', '30695', '6171054059', 1, datetime.datetime(2017, 2, 14, 0, 0), datetime.date(2020, 11, 30), datetime.date(2020, 11, 30)),
 (319, 319, 'RONALD', 'WEINER', 'RONALD.WEINER@sakilacustomer.org', '1145 Vilnius Manor', '', 'Mxico', 'San Felipe del Progreso', 'Mexico', '73170', '674805712553', 1, datetime.datetime(2017, 2, 14, 0, 0), datetime.date(2020, 11, 30), datetime.date(2020, 11, 30)),
 (454, 454, 'ALEX', 'GRESHAM', 'ALEX.GRESHAM@sakilacustomer.org', '251 Florencia Drive', '', 'Michoacn de Ocampo', 'Uruapan', 'Mexico', '16119', '118011831565', 1, datetime.datetime(2017, 2, 14, 0, 0), datetime.date(2020, 11, 30), datetime.date(2020, 11, 30)),
 (67, 67, 'KELLY', 'TORRES', 'KELLY.TORRES@sakilacustomer.org', '1586 Guaruj Place', '', 'Hunan', 'Xiangtan', 'China', '5135', '947233365992', 1, datetime.datetime(2017, 2, 14, 0, 0), datetime.date(2020, 11, 30), datetime.date(2020, 11, 30)),
 (457, 457, 'BILL', 'GAVIN', 'BILL.GAVIN@sakilacustomer.org', '1485 Bratislava Place', '', 'Illinois', 'Rockford', 'United States', '83183', '924663855568', 1, datetime.datetime(2017, 2, 14, 0, 0), datetime.date(2020, 11, 30), datetime.date(2020, 11, 30)),
 (466, 466, 'LEO', 'EBERT', 'LEO.EBERT@sakilacustomer.org', '1322 Mosul Parkway', '', 'Shandong', 'Dongying', 'China', '95400', '268053970382', 1, datetime.datetime(2017, 2, 14, 0, 0), datetime.date(2020, 11, 30), datetime.date(2020, 11, 30)),
 (208, 208, 'LUCY', 'WHEELER', 'LUCY.WHEELER@sakilacustomer.org', '624 Oshawa Boulevard', '', 'West Bengali', 'Balurghat', 'India', '89959', '49677664184', 1, datetime.datetime(2017, 2, 14, 0, 0), datetime.date(2020, 11, 30), datetime.date(2020, 11, 30)),
 (119, 119, 'SHERRY', 'MARSHALL', 'SHERRY.MARSHALL@sakilacustomer.org', '1987 Coacalco de Berriozbal Loop', '', 'al-Qalyubiya', 'Shubra al-Khayma', 'Egypt', '96065', '787654415858', 1, datetime.datetime(2017, 2, 14, 0, 0), datetime.date(2020, 11, 30), datetime.date(2020, 11, 30)),
 (202, 202, 'CARLA', 'GUTIERREZ', 'CARLA.GUTIERREZ@sakilacustomer.org', '642 Nador Drive', '', 'Maharashtra', 'Bhusawal', 'India', '3924', '369050085652', 1, datetime.datetime(2017, 2, 14, 0, 0), datetime.date(2020, 11, 30), datetime.date(2020, 11, 30)),
 (225, 225, 'ARLENE', 'HARVEY', 'ARLENE.HARVEY@sakilacustomer.org', '1014 Loja Manor', '', 'Tamil Nadu', 'Ambattur', 'India', '66851', '460795526514', 1, datetime.datetime(2017, 2, 14, 0, 0), datetime.date(2020, 11, 30), datetime.date(2020, 11, 30))]

In [35]:
%sql SELECT * FROM dimMovie LIMIT 5;

 * postgresql://student:***@127.0.0.1:5432/pagila
5 rows affected.

[(441, 441, 'HUNTER ALTER', 'A Emotional Drama of a Mad Cow And a Boat who must Redeem a Secret Agent in A Shark Tank', 2006, 'English', None, 5, 125, 'PG-13', '{Commentaries,"Deleted Scenes","Behind the Scenes"}'),
 (173, 173, 'CONFESSIONS MAGUIRE', 'A Insightful Story of a Car And a Boy who must Battle a Technical Writer in A Baloon', 2006, 'English', None, 7, 65, 'PG-13', '{"Behind the Scenes"}'),
 (385, 385, 'GROUNDHOG UNCUT', 'A Brilliant Panorama of a Astronaut And a Technical Writer who must Discover a Butler in A Manhattan Penthouse', 2006, 'English', None, 6, 139, 'PG-13', '{Trailers,Commentaries,"Deleted Scenes","Behind the Scenes"}'),
 (957, 957, 'WAR NOTTING', 'A Boring Drama of a Teacher And a Sumo Wrestler who must Challenge a Secret Agent in The Canadian Rockies', 2006, 'English', None, 7, 80, 'G', '{"Deleted Scenes","Behind the Scenes"}'),
 (350, 350, 'GARDEN ISLAND', 'A Unbelieveable Character Study of a Womanizer And a Madman who must Reach a Man in The Outback', 2006, 'English', None, 3, 80, 'G', '{Trailers,"Behind the Scenes"}')]

In [36]:
%%sql
INSERT INTO dimMovie (movie_key, film_id, title, description, release_year, language, original_language,
                     rental_duration, length, rating, special_features)
SELECT 
        DISTINCT f.film_id AS movie_key,
        f.film_id AS film_id,
        f.title AS title,
        f.description AS description,
        f.release_year AS release_year,
        l.name AS language,        
        orig_lang.name AS original_language,
        f.rental_duration AS rental_duration,
        f.length AS length,
        f.rating AS rating,
        f.special_features AS special_features
FROM film f
JOIN language l              ON (f.language_id=l.language_id)
LEFT JOIN language orig_lang ON (f.original_language_id = orig_lang.language_id);

 * postgresql://student:***@127.0.0.1:5432/pagila

IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "dimmovie_pkey"
DETAIL:  Key (movie_key)=(441) already exists.
 [SQL: 'INSERT INTO dimMovie (movie_key, film_id, title, description, release_year, language, original_language,\n                     rental_duration, length, rating, special_features)\nSELECT \n        DISTINCT f.film_id AS movie_key,\n        f.film_id AS film_id,\n        f.title AS title,\n        f.description AS description,\n        f.release_year AS release_year,\n        l.name AS language,        \n        orig_lang.name AS original_language,\n        f.rental_duration AS rental_duration,\n        f.length AS length,\n        f.rating AS rating,\n        f.special_features AS special_features\nFROM film f\nJOIN language l              ON (f.language_id=l.language_id)\nLEFT JOIN language orig_lang ON (f.original_language_id = orig_lang.language_id);']

In [37]:
%sql SELECT * FROM dimMovie LIMIT 5;

 * postgresql://student:***@127.0.0.1:5432/pagila
5 rows affected.

[(441, 441, 'HUNTER ALTER', 'A Emotional Drama of a Mad Cow And a Boat who must Redeem a Secret Agent in A Shark Tank', 2006, 'English', None, 5, 125, 'PG-13', '{Commentaries,"Deleted Scenes","Behind the Scenes"}'),
 (173, 173, 'CONFESSIONS MAGUIRE', 'A Insightful Story of a Car And a Boy who must Battle a Technical Writer in A Baloon', 2006, 'English', None, 7, 65, 'PG-13', '{"Behind the Scenes"}'),
 (385, 385, 'GROUNDHOG UNCUT', 'A Brilliant Panorama of a Astronaut And a Technical Writer who must Discover a Butler in A Manhattan Penthouse', 2006, 'English', None, 6, 139, 'PG-13', '{Trailers,Commentaries,"Deleted Scenes","Behind the Scenes"}'),
 (957, 957, 'WAR NOTTING', 'A Boring Drama of a Teacher And a Sumo Wrestler who must Challenge a Secret Agent in The Canadian Rockies', 2006, 'English', None, 7, 80, 'G', '{"Deleted Scenes","Behind the Scenes"}'),
 (350, 350, 'GARDEN ISLAND', 'A Unbelieveable Character Study of a Womanizer And a Madman who must Reach a Man in The Outback', 2006, 'English', None, 3, 80, 'G', '{Trailers,"Behind the Scenes"}')]

TODO: Populate the `dimStore` table with data from the `store`, `staff`, `address`, `city`, and `country` tables. This time, there's no guide. You should write the query from scratch. Use the previous queries as a reference.

In [38]:
%sql DROP TABLE factSales; DROP TABLE dimStore;

 * postgresql://student:***@127.0.0.1:5432/pagila
Done.
Done.

[]

In [40]:
%%sql 
INSERT INTO dimStore (store_key, store_id, address, address2, district, city, country, postal_code,
                      manager_first_name, manager_last_name, start_date, end_date)
SELECT
    DISTINCT store.store_id AS store_key,
    store.store_id AS store_id,
    address.address AS address,
    address.address2 AS address2,
    address.district AS district,
    city.city city,
    country.country AS country,
    address.postal_code AS postal_code,
    staff.first_name AS manager_first_name,
    staff.last_name AS manager_last_name,
    now() AS start_date,
    now() AS end_date

FROM 
    store
    JOIN address ON (store.address_id = address.address_id)
    JOIN city ON (address.city_id = city.city_id)
    JOIN country ON (city.country_id =country.country_id)
    JOIN staff ON (store.manager_staff_id = staff.staff_id)
    ;

 * postgresql://student:***@127.0.0.1:5432/pagila
2 rows affected.

[]

TODO: Populate the `factSales` table with data from the `payment`, `rental`, and `inventory` tables. This time, there's no guide. You should write the query from scratch. Use the previous queries as a reference.

In [45]:
%%sql
DELETE FROM factSales;
INSERT INTO factSales(sales_key, date_key, customer_key, movie_key, store_key, sales_amount)
SELECT
    DISTINCT payment.payment_id AS sales_key, 
    (TO_CHAR(payment_date :: DATE, 'yyyyMMDD')::integer) AS date_key,     
    payment.customer_id AS customer_key, 
    inventory.film_id AS movie_key, 
    store.store_id AS store_key, 
    payment.amount AS sales_amount

FROM payment
JOIN rental ON (payment.rental_id = rental.rental_id)
JOIN inventory ON (rental.inventory_id = inventory.inventory_id)
JOIN store ON (inventory.store_id = store.store_id)
;

 * postgresql://student:***@127.0.0.1:5432/pagila
16049 rows affected.
16049 rows affected.

[]

In [43]:
%sql SELECT * FROM factSales LIMIT 5;

 * postgresql://student:***@127.0.0.1:5432/pagila
5 rows affected.

[(17263, 20170221, 282, 757, 1, Decimal('4.99')),
 (24718, 20170320, 218, 561, 2, Decimal('5.99')),
 (27083, 20170430, 436, 787, 2, Decimal('3.99')),
 (27703, 20170410, 492, 341, 1, Decimal('0.99')),
 (17473, 20170218, 336, 536, 1, Decimal('2.99'))]